<ion-content [fullscreen]="true">
  <div class="header">
    <div class="content">
      <app-backbutton [path]="'login'"></app-backbutton>
      <div class="text">
        <h1 *ngIf="tipo === 0">CADASTRE SEU AMBIENTE</h1>
        <h1 *ngIf="tipo === 1">CADASTRE-SE</h1>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="avatar" >
      <label   >
        <input
          #upload
          style="display: none"
          id="upload-photo"
          name="upload-photo"
          type="file"
          (change)="handleFile($event)"
        />

        <img
          *ngIf="url"
          [src]="url"
          alt="User Photo"
          style="min-width: 150px; min-height: 150px"
        />
        <ion-icon
          style="font-size: 150px"
          *ngIf="!url"
          name="person-sharp"
        ></ion-icon>
      </label>
      <ion-label *ngIf="!url">Selecione uma foto</ion-label>
    </div>
    <ion-item lines="none">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input
        [(ngModel)]="registerUser.nome"
        label="Nome"
        labelPlacement="floating"
        placeholder="Nome completo"
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="tipo === 0">
      <div>
        <ion-icon name="id-card-outline"></ion-icon>
        <label for="documento">Documento</label>

        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let item of docs; let i = index" size="6">
              <div class="retangulo" (click)="openFileInput(item.nome)">
                <label *ngIf="!docuemntoUrls[i]">{{item.nome}}</label>
                <div *ngFor="let imageUrl of docuemntoUrls[i]; let j = index">
                  <img [src]="imageUrl" alt="" *ngIf="docuemntoUrls[i] && docuemntoUrls[i].length > 0">
                </div>
                <input
                  type="file"
                  [id]="item.nome"
                  class="documento"
                  style="display: none"
                  (change)="handleDocumento($event, i)"
                />
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input
        [(ngModel)]="registerUser.email"
        label="E-mail"
        labelPlacement="floating"
        placeholder="E-mail"
        type="email"
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="tipo === 0">
      <ion-icon name="pin-outline"></ion-icon>
      <ion-input
        [(ngModel)]="registerUser.endereco"
        label="Endereço"
        labelPlacement="floating"
        placeholder="Endereço"
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="tipo === 0">
      <div>
        <ion-label>
          <ion-icon name="clipboard-outline"></ion-icon>
          <label for="foto-cardapio">Cardapio</label>
        </ion-label>

        <div>
          <ion-grid>
            <ion-row size="4" class="linha">
              <ion-col *ngFor="let item of urls" size="4" class="ver">
                <div class="img">
                  <img [src]="item" alt="imagens" />
                </div>
              </ion-col>
              <ion-col>
                <div class="cardapio">
                  <label for="foto-cardapio">
                    <input
                      type="file"
                      multiple
                      style="display: none"
                      #cardapio
                      id="foto-cardapio"
                      name="foto-cardapio"
                      (change)="handleCardapio($event)"
                    />
                    <ion-label
                      ><ion-icon name="camera-outline"></ion-icon>
                      Enviar imagens
                    </ion-label>
                  </label>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-item>

    <div lines="none" class="nascimento" *ngIf="tipo === 1">
      <ion-label
        ><ion-icon name="calendar-outline"></ion-icon>Data de
        nascimento</ion-label
      >
      <ion-datetime
        [(ngModel)]="registerUser.dataNascimento"
        locale="pt-BR"
        presentation="date"
      ></ion-datetime>
    </div>
    <ion-item lines="none">
      <ion-icon name="call-outline"></ion-icon>
      <ion-input
        [maskito]="phoneMask"
        [maskitoElement]="maskPredicate"
        [(ngModel)]="registerUser.telefone"
        label="Telefone para contato"
        labelPlacement="floating"
        placeholder="Telefone"
      ></ion-input>
    </ion-item>

    <ion-item lines="none" *ngIf="tipo === 0">
      <ion-grid>
        <ion-label><ion-icon name="pin"></ion-icon>Funcionamento</ion-label>
        <ion-row *ngFor="let i of semana">
          <ion-checkbox (ionChange)="EventChange($event, i)"
            >{{i.dia}}</ion-checkbox
          >
          <div *ngIf="i.ativo" class="horarioFuncionamento">
            <ion-datetime
              presentation="time"
              (ionChange)="tempoInicioCahnge($event, i)"
            ></ion-datetime>
            <ion-label>ate</ion-label>
            <ion-datetime
              presentation="time"
              (ionChange)="tempoFimCahnge($event, i)"
            ></ion-datetime>
          </div>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="tipo === 0" lines="none">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-input
        [maskito]="reais"
        [maskitoElement]="maskPredicate"
        [(ngModel)]="registerUser.valorEntrada"
        label="Valor de entrada"
        labelPlacement="floating"
        placeholder="Valor de entrada"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input
        [(ngModel)]="registerUser.senha"
        label="Senha"
        labelPlacement="floating"
        placeholder="Senha"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input
        [(ngModel)]="registerUser.csenha"
        label="Confirmar Senha"
        labelPlacement="floating"
        placeholder="Confirmar Senha"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-button (click)="criarUsuario(upload)"
      ><ion-label>CONFIRMAR</ion-label>
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon
    ></ion-button>
  </div>
</ion-content>
